NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
LEADS_FORWARD_TO_EMAIL=info@arkforecasting.com.au
AWS_SES_FROM_EMAIL=noreply@arkforecasting.com.au
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
